*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
body{
    width: 100vw;
    height: 100vh;
}
 
main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
}
 
h2{
    background-color: orange (150, 21, 155);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 3px;
}
 
input{
    margin-bottom: 10px;
}
 
#caixa{
    width: 400px;
    height: 200px;
    background-color: rgb(252, 187, 66);
    box-shadow: 0 0 20px;
    margin: 20px auto;
}
 
.btn{
    padding: 5px 10px;
    margin-right: 10px;
}

#btn_mais{

}

#valor_real{

}

#btn_menos{

}

.area_add_sub{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; 
    font-size: 20px;
}

.area_add_sub button{
    padding: 5px;
    background-color: orange;
    border: 1px solid rgb(16,106,232);
    color: #FFF;
}

.area_add_sub button:hover{
    background-color: red;  
}
